PORT=3000
WEB_PORT=5173
BCRYPT_ROUNDS=10
JWT_SECRET=

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=week_24
DB_PASSWORD=week_24
DB_NAME=week_24

# google 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/api/auth/google/callback
APP_URL=http://localhost:5173/
